#about-course {
    background-image: url("../image/about-us/bg-course.jpg");
    padding: 100px 0px;

    background-position: center;

    .title {
        position: relative;

        .watermark {
            position: absolute;
            color: #fff;
            opacity: 1;
            left: 0;
            right: 0;
            top: -60px;
            line-height: 1;
            font-size: 100px;
            font-weight: 900;
            margin-bottom: 0;
            text-align: center;
        }

        span {
            font-size: 18px;
            font-family: $primary-font;
            font-weight: 700;
            color: #0000fe;
            text-align: center;
            display: flex;
            justify-content: center;
            opacity: 0.8;
        }

        h2 {
            color: black;
            font-size: 40px;
            font-family: $secondary-font;
            font-weight: 700;
            padding: 15px 250px 20px;
            text-align: center;
        }
    }

    .content {
        padding-top: 35px;
    }

    .list {
        background-color: white;
        padding: 35px 25px;
        transition: 0.3s all ease-in-out;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
        position: relative;
        z-index: 2;

        .icon {
            line-height: 1;
            margin-right: 15px;
            display: flex;

            .text {
                margin-left: 20px;

                h3 {

                    font-size: 22px;
                    font-weight: 700;
                    padding-bottom: 10px;
                    transition: 0.3s all ease-in-out;

                    a {
                        color: #000;
                        outline: none;
                        box-shadow: none;
                        text-decoration: none;
                    }
                }

                p {
                    font-size: 15px;
                    color: #555555;
                    transition: 0.3s all ease-in-out;
                }

            }

            i {
                color: #0000fe;
                font-size: 45px;
                transition: 0.3s all ease-in-out;
            }
        }

        &::after {
            top: 0;
            left: 0;
            width: 0;
            z-index: -1;
            content: "";
            height: 100%;
            position: absolute;
            background-color: #000;
            transition: all 500ms ease-in-out;
        }
        &:hover::after{
            width: 100%;
        }
        &:hover{
            transform: translateY(-15px);
            i{
                color: rgb(221, 50, 50);
            }
            .text{
                h3{
                    a{
                        color:white;
                    }
                }
            }
        }

    }

}