#banner{
       background-image: url('../image/bn-bg1.jpg');
        padding: 95px 0px 110px;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        // opacity:0;
span{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-color: #030014;
}
    .text{
         text-align: center;
         position: relative;
         z-index: 1;
        h2{
            color: #fff;
            font-size: 60px;
            font-weight: 700;
            padding-bottom: 10px;
            font-family: $secondary-font;
        }
        a{
         text-decoration:none;
         color:white;
         padding-right:10px;
         line-height: 1.625;
         font-family: $primary-font;
         font-weight: 700;

        }
        i{
         color:#e3002a;
         font-weight: 700;
         font-family:$secondary-color;
        }
        span{
         padding-left:10px;
         line-height: 1.625;
         font-family: $primary-font;
         font-weight: 700;
         color:white;
        }
    }
 }
  
 
